// Posts Module styles

// Include sass project variables
@import "vars";

// posts directive
.posts {
  .info-block {
    .list {
      .header {
        border-bottom: 1px solid #DDD;
        padding-top: 0;

        .publish-time {
          font-size: 11px;
          color: $dark;
          font-weight: 600;
        }

        .tags {
          color: $providerapp-color2;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-left: 12px;
        }
      }

      .subdued {
        color: $providerapp-color2;

        .icon {
          margin-right: 5px;
        }
      }
    }
  }
}
