// Some directives and util code accross the project.

// info-block directive, used on content lists as content unity.
body.mobile {
  .info-block {
    max-width: none!important;
  }
}

.info-block {
  width: 90%;
  max-width: 720px;
  margin: auto;
  border: none!important;
  margin-bottom: 10vh;

  .block-header {
    .item {
      background-color: transparent;
      border: none;
      padding-left: 0;
      padding-right: 0;
    }

    .block-title {
      .item-label {
        float: left;
        text-transform: uppercase;
        text-align: left;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .block-action {
      text-align: right;

      .item {
        float: right;
      }
      .item-label {
        text-transform: uppercase;
        font-size: 11px;
      }

      .item-value {
        text-transform: uppercase;
        font-size: 11px!important;
        background-color: transparent;
      }
    }
  }
}


// List filter directive
listfilter {
  text-align: right;

  .item {
    text-align: right;
    float: inherit!important;
    background-color: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;

    .item-label {
      text-transform: uppercase;
      font-size: 11px;
    }

    .item-value {
      text-transform: uppercase;
      font-size: 11px!important;
      background-color: transparent;
    }
  }
}
