// Custom App Content Tabs styles:
// In order to follow providerApp design guidelines, the default style for an
// Ionic app was adapted. Here we are re-locating the main app's side menu under
// the app's topbar. In order to allow this, some of nexts design tweaks are
// mandatory.

// Include sass project variables
@import "vars";

ion-view {
  .pane {
    .tabs {
      background-color: $light;
      border: none;

      .tab-item {
        font-size: 12px;
        font-stretch: condensed;
        font-weight: bold;
      }

      .tab-item-active {
        color: $providerapp-color2;
        border-bottom: 2px solid $providerapp-color2;
      }
    }

    .tab-content {
      background-color: $stable;
    }
  }
}
