
// Include variables
@import "vars";

ion-view.signin-view,
ion-view.signup-view {

  .bar.bar-header {
    .trend {
      font-size: 26px;
      color: $providerapp-color1;
    }
  }

  ion-content {

    background-color: white!important;
    max-width: 640px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      width: 100%;
      text-align: center;

      h1 {
        color: $providerapp-color2;
        display: inline-flex;
        font-size: 18px;
      }
    }

    .login-form {
      margin-top: 5%;
      .list {
        label {
          border: none!important;

          span {
            font-weight: bolder;
            font-variant: small-caps;
            font-size: 20px;
          }

          input {
            border: 3px solid #DDD;
            padding: 10px;
            height: 50px;
            font-size: 16px;
            margin: 10px 0;
          }
          input.email {
            text-transform: lowercase;
          }
          input:focus {
            border-color: $providerapp-color2!important;
          }
          input:invalid {
            border-color: red !important;
            border-width: thin!important;
            box-shadow: none;
          }
        }
        label.forgot  {
          padding: 0;
          text-align: right;
          a {
            font-size: 14px;
            color: $providerapp-color2!important;
            text-decoration: none;
          }
        }
        label.action {
          text-align: center;
          .button {
            width: 20%;
            padding: 5px;
            font-weight: bolder;
          }
        }
      }
    }

    .signup-form {
      // width: 85%;
      margin-top: 5%;

      .list {
        // margin: 0!important;

        .row,.col {
          padding: 0;
        }

        label {
          text-align: center;
          border: none!important;
          padding: 6px 16px!important;

          span {
            font-weight: bolder;
            font-variant: small-caps;
            font-size: 2.2vh;
            width: 100%;
          }

          input {
            border: 3px solid #DDD;
            padding: 10px;
            height: 50px;
            font-size: 16px;
            margin: 10px 0;
          }
          input.email {
            text-transform: lowercase;
          }
          input:focus {
            border-color: #3D77C3!important;
          }
          input:invalid {
            border-color: red !important;
            border-width: thin!important;
            box-shadow: none;
          }
        }
        label.forgot  {
          padding: 0;
          text-align: right;
          a {
            font-family: 'Noto Serif', serif;
            font-size: 14px;
            color: #3D77C3!important;
          }
        }
        label.action {
          text-align: center;
          margin-top: 5vh;
          .button {
            width: 40%;
            padding: 5px;
            font-weight: bolder;
          }
        }
      }
    }

    .button-next {
      text-align: center;
      button {
        display: block;
      }
    }

  }

}
