<ion-view hide-nav-bar="true" class="posts">

  <ion-content>

    <div class="info-block">

      <div class="row row-top block-header">
        <div class="col col-20 block-title">
          <label class="item item-input">
            <div class="input-label item-label">Posts ({{vm.posts.length || 0}})</div>
          </label>
        </div>

        <div class="col col-offset-33 block-action">
          <listfilter></listfilter>
        </div>
      </div>

      <div class="list card" ng-repeat="post in vm.posts track by $index">

        <div class="row header">
          <div class="col col-25 publish-time" am-time-ago="post.dt_create"></div>
          <div class="col tags" ng-class="{'unread': !item.read}" ng-show="post.tags.length">
            <b>Tags:</b><span class="post-tags" ng-repeat="tag in post.tags track by $index">
              {{tag}}<i ng-if="!$last">,</i>
            </span>
          </div>
        </div>

        <div class="item item-body">
          <h2>{{post.title}}</h2>
          <p ng-bind-html="post.body"></p>

          <p>
            <a href="#" class="subdued"><i class="icon ion-heart"></i>{{post.actions.votes.total}}</a>
            <!-- <a href="#" class="subdued"><i class="icon ion-chatbubbles"></i>Responses</a> -->
          </p>
        </div>

      </div>

    </div>

  </ion-content>

</ion-view>
