/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^="list-"] { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	List Posts
\* ------------------------------------------------------------ */

.list-posts { font-size: 12px; letter-spacing: 0.06em; }
.list-posts li ~ li { border-top: 1px solid  #eee; }
.list-posts a { text-decoration: none; display: block; padding: 15px 0; }
.list-posts a:hover { color: $color-blue; }
.list-posts span { font-size: 10px; color: #666; font-weight: 500; letter-spacing: 0.08em; display: inline-block; vertical-align: middle; width: 90px; padding: 0 5px; }
.list-posts strong { font-weight: 500; }

$breakpoint-mobile {
	.list-posts span { display: block; width: 100%; padding: 0; }
}

/* ------------------------------------------------------------ *\
	List Results
\* ------------------------------------------------------------ */

.list-results { font-size: 12px; color: #000; letter-spacing: 0.06em; }
.list-results a { text-decoration: none; }
.list-results a:hover { color: $color-blue; }
.list-results li { position: relative; padding-left: 30px; }
.list-results li ~ li { margin-top: 20px; }
.list-results span { display: inline-block; vertical-align: middle; width: 30px; position: absolute; top: 0; left: 0; }

/* ------------------------------------------------------------ *\
	List Question
\* ------------------------------------------------------------ */

.list-question { display: flex; justify-content: space-between; flex-flow: row wrap; align-items: center; margin: 0 -5px; }
.list-question li { background: #fafafa; padding: 20px 10px 20px 20px; font-weight: 500; font-size: 12px; flex: 1 0 auto; margin: 0 5px 10px; }
.list-question strong { font-size: 11px; color: #081e4c; display: block; text-transform: uppercase; letter-spacing: 0.05em; }

/* ------------------------------------------------------------ *\
	List Options
\* ------------------------------------------------------------ */

.list-options { }
.list-options a { text-align: center; display: block; border: 1px solid  #ccc; font-size: 12px; color: $color-blue; letter-spacing: 0.02em; text-transform: uppercase; text-decoration: none; font-weight: 500; padding: 20px; transition: background-color .3s; }
.list-options a:hover { background: #eee; }
.list-options li ~ li { margin-top: 21px; }

$breakpoint-mobile {
	.list-options a { padding: 10px; }
}

/* ------------------------------------------------------------ *\
	List Actions
\* ------------------------------------------------------------ */

.list-actions { }
.list-actions li { display: inline-block; vertical-align: middle; }
.list-actions li ~ li { margin-left: 15px; }

/* ------------------------------------------------------------ *\
	List Meta
\* ------------------------------------------------------------ */

.list-meta { font-size: 10px; color: #666; letter-spacing: 0.08em; border-bottom: 1px solid  #eee; margin-bottom: 34px; padding-bottom: 2px; }
.list-meta li { display: inline-block; vertical-align: middle; line-height: 1; padding: 4px 0 2px; }
.list-meta li ~ li { border-left: 1px solid  #eee; padding-left: 12px; margin-left: 8px; }
.list-meta a { color: $color-blue; text-decoration: none; }
.list-meta a:hover { text-decoration: underline; }

$breakpoint-mobile {
	.list-meta li { display: block; }
	.list-meta li ~ li { border: 0; margin-left: 0; padding-left: 0; }
}

/* ------------------------------------------------------------ *\
	List Responses
\* ------------------------------------------------------------ */

.list-responses { color: $color-blue; font-size: 12px; font-weight: 500; }
.list-responses li { display: inline-block; vertical-align: middle; }
.list-responses li ~ li { margin-left: 20px; }
.list-responses a { text-decoration: none; }
.list-responses a:hover { opacity: .6; }
