/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article-options { position: absolute; top: -8px; right: -27px; text-align: right; padding: 10px 20px 20px; transition: background-color .3s; }
.article-options ul { text-align: center; margin-top: 10px; list-style: none; opacity: 0; visibility: hidden; transition: opacity .3s, visibility .3s; font-weight: 500; }
.article-options a { padding: 10px; display: inline-block; text-decoration: none; color: $color-blue; }
.article-options a:hover { text-decoration: underline; }
.article-options li ~ li { border-top: 1px solid  #ddd; }

.article-options.active { background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.3); }
.article-options.active ul { opacity: 1; visibility: visible; }

/* ------------------------------------------------------------ *\
	Article Conversation
\* ------------------------------------------------------------ */

.article-conversation { }
.article-conversation .article-inner { background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.3); padding: 50px 80px 50px; margin-bottom: 37px; }
.article-conversation .article-body blockquote { padding: 0; border: none; font-size: 19px; line-height: 1.7; font-weight: 500; margin-bottom: 40px; }

.article-conversation .article-avatar { float: left; margin-right: 22px; letter-spacing: 0.06em; color: #333; }
.article-conversation .article-author:after { @extend clearfix; }
.article-conversation .article-author h4 { font-size: 15px; margin-bottom: 0; font-weight: 500; line-height: 1; padding-top: 5px; }
.article-conversation .article-author small { font-size: 11px; display: block; }

.article-conversation .article-head { position: relative; margin-bottom: 25px; }

.article-conversation .article-actions { margin-top: 32px; }

.article-conversation .article-responses { background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.3); padding: 15px 60px 50px; margin-bottom: 37px; }
.article-conversation .article-responses h4 { font-weight: 500; font-size: 12px; letter-spacing: 0.06em; border-bottom: 1px solid  #f0f0f0; padding-bottom: 13px; margin-bottom: 26px; }

$breakpoint-mobile {
	.article-conversation .btn { font-size: 10px; }
	.article-conversation .article-inner { padding: 15px; }
	.article-conversation .article-body blockquote { font-size: 16px; }
	.article-conversation .article-author { padding-right: 13px; }

	.article-conversation .article-responses { padding: 15px 5px; }
	.article-conversation .article-responses h4 { padding-left: 10px; padding-right: 10px; }
}

/* ------------------------------------------------------------ *\
	Article Primary
\* ------------------------------------------------------------ */

.article-primary { position: relative; font-size: 14px; line-height: 1.8; letter-spacing: 0.05em; padding: 0 100px 8px 51px; margin-top: -7px; }
.article-primary .article-options { top: -19px; right: -20px; }
.article-primary .article-title { font-size: 21px; font-weight: 700; margin-bottom: 17px; line-height: 1.5; max-width: 510px; letter-spacing: 0; }
.article-primary .article-actions { display: flex; justify-content: space-between; padding-top: 48px; margin-right: -29px; }

$breakpoint-tablet-portrait {
	.article-primary { padding-left: 20px; padding-right: 50px; }
}

$breakpoint-mobile {
	.article-primary { padding: 20px 0 0; font-size: 12px; }
	.article-primary .article-title { font-size: 16px; }
	.article-primary .article-actions { padding-top: 20px; display: block; }
}
