/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {}
.section:after { @extend clearfix; }

/* ------------------------------------------------------------ *\
	Section Primary
\* ------------------------------------------------------------ */

.section-primary { margin-bottom: 40px; }
.section-primary.inactive { display: none; }
.section-primary .section-title { letter-spacing: 0.06em; text-transform: uppercase; font-weight: 500; }
.section-primary .section-head { display: flex; justify-content: space-between; margin-bottom: 25px; }
.section-primary .section-body { background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.3); padding: 26px 30px 30px; }

$breakpoint-mobile {
	.section-primary .section-head { display: block; margin-bottom: 10px; }
	.section-primary .section-title { margin-bottom: 10px; }
	.section-primary .section-body { padding: 15px; }
}

/* ------------------------------------------------------------ *\
	Section Post
\* ------------------------------------------------------------ */

.section-post { display: none; }
.section-post .shell { max-width: 670px; }
.section-post.active { display: block; }

.section-post .section-head { background: #fff; padding: 14px 0 13px; margin-bottom: 74px; position: relative; z-index: 4; }

$breakpoint-mobile {
	.section-post .section-head { margin-bottom: 30px; }
}

/* ------------------------------------------------------------ *\
	Section Blog
\* ------------------------------------------------------------ */

.section-blog { }
.section-blog > .section-head { height: 52px; background: #fff; border-bottom: 1px solid  #eee; margin-bottom: 60px; }

.section-blog .section-primary { margin-bottom: 60px; }
.section-blog .section-primary .section-head { margin-bottom: 12px; }

$breakpoint-mobile {
	.section-blog > .section-head { margin-bottom: 30px; }
}
