/* ------------------------------------------------------------ *\
	Responses
\* ------------------------------------------------------------ */

.responses { list-style: none; }

/* ------------------------------------------------------------ *\
	Response
\* ------------------------------------------------------------ */

.response { padding: 0 10px; }
.response:after { @extend clearfix; }

.response blockquote { padding: 0; border: 0; font-size: 15px; line-height: 1.6; margin-top: 7px; }
.response blockquote a { font-weight: 500; color: $color-blue; text-decoration: none; }
.response blockquote a:hover { text-decoration: underline; }

.response .responses { background: #fafafa; padding: 33px 0px; margin: 20px -10px 0; }

.response-avatar { float: left; margin-right: 12px; padding-top: 7px; max-width: 40px; }
.response-content { overflow: hidden; position: relative; }
.response-author { font-size: 11px; font-weight: 700; text-decoration: none; letter-spacing: 0.06em; color: $color-blue; }
.response-author:hover { color: $color-dark-blue; }
.response-author span { text-decoration: underline; }

.response-actions { position: absolute; top: 0; right: 30px; }
.response-actions ul { list-style: none; }
.response-actions li { display: inline-block; vertical-align: middle; color: $color-blue; }
.response-actions li ~ li { margin-left: 14px; }
.response-actions a { text-decoration: none; font-size: 12px; font-weight: 700; }

$breakpoint-mobile {
	.response blockquote { font-size: 13px; }
	.response-content { padding-top: 5px; }
	.response-author { line-height: 1.2; display: block; }
	.response-actions { position: relative; right: auto; }
}
