/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search { width: 522px; height: 26px; position: relative; margin-left: 170px; }
.search label { position: absolute; top: 50%; transform: translateY(-50%); left: 0; color: rgba(0, 0, 0, 0.6); font-weight: 500; font-size: 9px; letter-spacing: 0.02em; width: 100%; display: block; text-align: center; height: 26px; padding: 6px 20px 0; border-radius: 13px; background: #fff; }
.search label i { margin-right: 5px; }
.search-field { height: 26px; padding: 0 20px; border: 0; color: #000; width: 100%; margin-bottom: 0; border-bottom: 1px solid  #eee; font-size: 15px; color: #545454; letter-spacing: 0.02em; background: url(../css/images/search-dark.png) no-repeat 0 top; padding-left: 40px; padding-bottom: 18px; padding-top: 9px; margin-bottom: 10px; }
.search-overlay { background: #fff; box-shadow: 0 1px 3px rgba(0,0,0,.3); border-radius: 5px; position: absolute; top: 0; left: 0; width: 100%; opacity: 0; visibility: hidden; transition: opacity .3s, visibility .3s; padding: 20px 16px; }

.search.active .search-overlay { opacity: 1; visibility: visible; }

$breakpoint-tablet-portrait {
	.search { width: 400px; margin-left: 0; }
}

$breakpoint-mobile {
	.search { width: 180px; }
	.search-overlay { padding: 10px; }
}
