/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container-outer { padding-top: 60px; padding-left: 82px; }
.container-inner.inactive { display: none; }

$breakpoint-mobile {
	.container-outer { padding-left: 60px; }
}
