$font-size-base:                    14px;
$line-height-base:                  1.8;


$shell-max-width:                   720px;
$shell-gutter:                      15px;


$font-liberation:  		            'Liberation Sans', sans-serif;
$font-helvetica:  		            'Helvetica Neue', sans-serif;
$font-quicksand:  		            'Quicksand', sans-serif;

$font-family-sans-serif:            'Arial', 'Helvetica', sans-serif;
$font-family-serif:                 'Times', serif;


$color-dark-blue: 					#0a1f4b;
$color-blue: 						#007ae7;


$responsive-xxs:                    479px;
$responsive-xs:                     767px;
$responsive-sm:                     1023px;
$responsive-md:                     1200px;


$breakpoint-mobile-portrait:        @media (max-width: $responsive-xxs);
$breakpoint-mobile:                 @media (max-width: $responsive-xs);
$breakpoint-tablet-portrait:        @media (max-width: $responsive-sm);
$breakpoint-small-desktop:          @media (max-width: $responsive-md);
$retina:                            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
