<ion-view hide-nav-bar="true" class="chat-view">

  <ion-content has-header="false">

    <div class="info-block">

      <div class="list card">

        <div class="item item-avatar">
          <img src="img/avatar.png">

          <h2>{{vm.chatroom.name || vm.chatroom.email || 'Anonymous'}}</h2>
          <p>{{vm.chatroom.dt_create | amDateFormat:'MM/DD/YYYY, HH:mm'}}</p>
          <a class="button button-icon ion-android-more-vertical"></a>
        </div>

        <div class="item item-body">
          <p>
            {{vm.chatroom.question}}
          </p>
        </div>

        <div class="item item-details">
          <div class="row">
            <div class="col col-33">
              <span>SYMPTOM</span><p>{{vm.chatroom.userVariables.symptom || 'NONE'}}</p>
            </div>
            <div class="col col-33">
              <span>DURATION</span><p>{{vm.chatroom.userVariables.symptomDuration || 'NONE'}}</p>
            </div>
            <div class="col col-33">
              <span>CARE OPTION</span><p>{{vm.chatroom.userVariables.treatmentType || 'NONE'}}</p>
            </div>
          </div>
        </div>

        <div class="item item-action">
          <button
            class="button button-full button-positive"
            ng-class="{'button-small': $root.mobile}"
            ng-click="vm.openReplyModal()"
            >
            RESPOND TO THIS QUESTION
          </button>
        </div>

      </div>

      <p ng-show="vm.loadingReplies" class="loading">
        <ion-spinner icon="spiral" class="spinner-positive"></ion-spinner>
      </p>

      <div ng-if="vm.noReplies" class="list card">
        <div class="item">
          <h2>Non exitent Replies for this question</h2>
        </div>
      </div>

      <div
        class="list card chatroom-replies"
        ng-if="!vm.noReplies && !vm.loading"
        ng-repeat="reply in vm.replies | orderBy:'dt_create':true track by $index"
        ng-cloack>
        <div class="item item-avatar">
          <img src="img/doctor.png">
          <h2>{{reply.user.displayName}}</h2>
          <p>{{reply.dt_create | amDateFormat:'MM/DD/YYYY, HH:mm'}}</p>
        </div>

        <div class="item item-body">
          <p>{{reply.replyText}}</p>
          <div class="row">
            <div class="col left">
              <button class="button button-clear button-small like"><i class="icon ion-heart"></i>{{reply.actions.votes.total}}</a>
            </div>
            <div class="col right" ng-if="reply.user.id==$root.user.id" ng-click="vm.removeReply(reply)">
              <a class="button button-clear button-small remove"><i class="icon ion-trash-b"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
