<ion-modal-view class="reply-modal">
  <ion-header-bar>
    <h1 class="title">Reply this conversation</h1>
    <!-- <button class="button icon ion-close-circled" ng-click="closeReplyModal()"></button> -->
  </ion-header-bar>

  <ion-content scroll="false">
    <textarea class="response-textarea" placeholder="Write your response here..." ng-model="vm.replytext"></textarea>
  </ion-content>

  <div class="bar bar-footer">
    <button class="button button-small button-light" ng-click="vm.closeReplyModal()">Cancel</button>
    <button class="button button-small button-positive" ng-click="vm.sendReply()">Send</button>
  </div>
</ion-modal-view>
