<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar (ionInput)="getItems($event)">
    </ion-searchbar>
    
    <ion-buttons end>
      <button ion-button icon-left class="current-session-user">
        <ion-icon name="contact"></ion-icon>
        <span class="username">{{session.displayName}}</span>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-8 class="bots-action-bar">
        <h1>Active Accounts</h1>
      </ion-col>
      <ion-col col-4 class="bots-action-bar">
        <button ion-button positive class="add-bot" (click)="create()">New Account
          <!--<ion-icon name="add"></ion-icon>-->
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-sm-4 *ngFor="let chatbox of currentItems; let i = index;">

        <ion-card (click)="update(i)">
          <img src="{{chatbox.styleImage}}"/>
          <ion-card-content>
            <ion-card-title>
              {{chatbox.name || "no name"}}
            </ion-card-title>
            <p>Created: {{chatbox.dt_create | date: 'longDate'}}</p>
          </ion-card-content>
        </ion-card>

        <!--<ion-card class="chatbox-card">
          <ion-card-header>
            <h2>{{chatbox.name || "no name"}}</h2>
          </ion-card-header>

          <ion-card-content>

            <ion-item-group>
              <ion-item-divider>Bots
                <button ion-button button-icon clear small item-end (click)="addBot(i)"><ion-icon name="add"></ion-icon></button>
              </ion-item-divider>

              <ion-item *ngFor="let botname of chatbox.bots" class="botname">
                <p>
                  <span>{{botname}}</span>
                  <button ion-button button-icon color="danger" clear small item-end (click)="removeBot(i,botname)">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </p>
              </ion-item>

              <ion-item-divider>Styles
                <button ion-button button-icon clear small item-end (click)="addStyle(i)"><ion-icon name="add"></ion-icon></button>
              </ion-item-divider>

              <ion-item *ngFor="let style of chatbox.styles" class="style">
                <p>
                  <span>{{style}}</span>
                  <button ion-button button-icon color="danger" clear small item-end (click)="removeStyle(i,style)">
                    <ion-icon name="close"></ion-icon>
                  </button>
                </p>
              </ion-item>

            </ion-item-group>

          </ion-card-content>

          <ion-row class="footer">
            <ion-col>
              <button ion-button button-icon clear small (click)="delete(i)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>

        </ion-card>-->

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>