<ion-view class="signup-view">

  <ion-nav-bar>

    <ion-nav-buttons side="left">
      <a class="trend button button-small button-clear">Kurbi</a>
    </ion-nav-buttons>

    <span class="title">Providers App</span>

    <ion-nav-buttons side="right">
      <a ui-sref="signin" class="button button-small button-clear button-positive">SIGN IN</a>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content>

      <div class="title">
        <h1>Welcome, let's create your profile</h1>
      </div>

      <form name="signupForm" class="row signup-form" ng-submit="vm.signup()">
        <div class="col">
          <div class="list">

            <div class="row">
              <div class="col">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">first name</span>
                  <input class="email" name="fname" type="text" ng-model="vm.signupData.first_name">
                </label>
              </div>
              <div class="col">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">last name</span>
                  <input class="email" name="lname" type="text" ng-model="vm.signupData.last_name">
                </label>
              </div>
            </div>

            <label class="item item-input item-stacked-label">
              <span class="input-label">email</span>
              <input class="email" name="email" type="email" ng-model="vm.signupData.email">
            </label>

            <div class="row">
              <div class="col">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">password</span>
                  <input name="password" type="password" ng-model="vm.signupData.password">
                </label>
              </div>
              <div class="col">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">confirmation</span>
                  <input name="password" type="password" ng-model="vm.signupData.password_confirmation">
                </label>
              </div>
            </div>

            <label class="item action">
              <button class="button button-small button-positive" type="submit">Go!</button>
            </label>
          </div>
        </div>

      </form>

  </ion-content>
</ion-view>
