<ion-split-pane>

<!---->
  <ion-menu [content]="content" *ngIf="session">
    
    <ion-header>
      <ion-navbar>
        <ion-title>Kurbi</ion-title>
      </ion-navbar>
    </ion-header>

    <ion-content no-bounce>
      <ion-list no-lines>
        <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-left></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-nav #content main [root]="rootPage"></ion-nav>

</ion-split-pane>
