// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Poppins_300.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
 
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins_400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Poppins_500.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Poppins_600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Poppins_700.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    font-family: Poppins;
}

$menu-width: 15vw;

body:not(.platform-browser) {
    .header {
        .toolbar {
            .current-session-user {
                .username {
                    display: none;
                }
            }
        }
    }
}

ion-nav,ion-menu {
    ion-header {

        .toolbar,.toolbar-background {
            background: #0b0b3b !important;
        }

        button {
            color: white!important;
        }

        .toolbar-content {
            max-width: 70vw;
            margin: auto;

            ion-searchbar {
                .searchbar-input {
                    height: 38px;
                    border-radius: 15px!important;
                }
            }
        }
    }
}

.split-pane-visible {

    ion-menu {
        min-width: $menu-width!important;
        max-width: $menu-width!important;
        
        .menu-inner {
            width: $menu-width;
        }
    }
}


ion-menu {
    border-right: none!important;

    .menu-inner {

        ion-header {
            background-color: #0b0b3b !important;

            .toolbar {
                border: none;

                .toolbar-title {
                    color : white;
                    font-size: 26px;
                }
            }
        }
    }

    ion-content {
        // padding-top: 20px;

        .scroll-content {
            overflow: hidden;
            background-color: dodgerblue;
        }

        .list {
            .item {
                background-color: dodgerblue;
                color: #fff;

                vertical-align: super;
                font-variant: small-caps;
                // font-weight: bold;
                // padding-left: 8px;
                // padding: 30px;
                // padding-bottom: 0;
            }
        }
    }
}

.toolbar .searchbar-ios .searchbar-input {
    background: white!important;
}

// Centering Title trick for Ionic 2 (no matter platform)
.toolbar-title-md {
  text-align: center;
}
.toolbar-md ion-title {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;  

  width: 100%;
  height: 100%;

  pointer-events: none;
}
.toolbar-title-wp {
  text-align: center;
}
.toolbar-wp ion-title {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

// ion-content {
//     max-width: 700px!important;
// }